
/* №1 коробка */
#wrapper{
	margin-bottom: -315px;
	min-height: 100%;
	min-width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap{
    max-width: 1140px;
    margin: auto;
   /* height: inherit; Не знаю зачем ставил*/
}

/* №2 шапка */
#header_logo{
	width: 75px;
	margin: 50px 0px 0 0;
}

header{
	height: 340px;
	position: relative;
}

.header_logo_text{
	font-size: 24px;
	color: #b2ff1b;
}

nav{
	width: 848px;
	border: solid black;
	border-width: 4px 0 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

nav ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

nav a {
	text-decoration: none; /*убираем подчеркивание текста ссылок*/
	color: grey;
	display: block;
	float: left;
	padding: 0 0 15px 0;
	margin: 60px 25px 0 0;
    font-size: 15px;
    font-family: MyriadPro-Regular;
    color: rgb(86, 86, 86);
}

nav a:hover {
	border: solid black;
	border-width: 0 0 2px 0;
	color: black;
}
/*
.form_search{
	position: absolute;
	top: 64px;
	right: 0;
}

.search{
	width: 160px;
	height: 33px;
}

.search_btn{
	height: 44px;
	width: 44px;
	background-image: url(img/web_search.png);
}
*/
.slogan{
	position: absolute;
	top: 220px;
	left: 0;
	font-size: 30px;
    font-family: MyriadPro-Regular;
    color: rgb(86, 86, 86);
	line-height: 2.4;
}


/* №3 футер */
footer {
	height: 315px;
	clear: both;
	background: black;
}

.footer_div{
	float: right;
	width: 255px;
	height: 250px;
	margin: 40px 40px 0px 0px;
	color: darkgray;
	font-size: 30px;
}

.footer_div p{
	word-break: break-all;
	color: darkgray;
	font-size: 15px;
}

.footer_div .h3{
	margin: 20px 0px;
}

/* Кнопка вверх */
.btn_up{
    background: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
}